/*
========================================================================================
    nextflow.config — Main configuration for the CellRanger_Flow pipeline
========================================================================================
        Available profiles:
            -profile slurm        -> SLURM submission (can be combined with singularity)
========================================================================================
*/

// ========================================================================================
// GLOBAL PARAMETERS (overridable via CLI)
// ========================================================================================

params {

    // --- Inputs ---
    run_id                      = null // See if run_ID is format H155HGF51 (FlowCellID) or 260323_A01789_0447_AHCHNTDMX2 (CelineID) (I think FlowCellID HCHNTDMX2 is better)
    protocol_prefix             = null // Prefix used to build full batch names
    batch_ids                   = null // Comma-separated values csv in a string of batch numbers (e.g. 74,75,76)
    raw_sample_sheet_file_path  = null // Path to the original sample sheet (required in BCL mode)
    bcl_dir                     = "/sequenceurs/NovaSeq1/${params.run_id}" // Path to the BCL directory (required in BCL mode)
    genome_reference            = "/labos/UGM/dev/cellranger-pipe/refdata-gex-GRCh38-2020-A" // Path to pre-built Cell Ranger genome
    vdj_reference               = "/labos/UGM/dev/cellranger-pipe/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.0.0" // Path to pre-built Cell Ranger VDJ reference 
    path_ref_gex                = "/labos/UGM/dev/cellranger-pipe/refdata-gex-GRCh38-2020-A" // GEX reference
    path_ref_vdj                = "/labos/UGM/dev/cellranger-pipe/refdata-cellranger-vdj-GRCh38-alts-ensembl-7.0.0" // VDJ reference


    // --- Outputs ---
    output_dir                  = "${launchDir}/results/${params.run_id}" // Base output directory (created if doesn't exist)
    preprocessing_output_dir    = "${params.output_dir}/preprocessed_sample_sheet" // Directory for the modified sample sheet (generated by PREPROCESSING)
    qc_output_dir               = "${params.output_dir}/qc" // Directory for Cell Ranger mkfastq outputs
    alignment_output_dir        = "${params.output_dir}/alignment" // Directory for Cell Ranger count outputs
    multiqc_output_dir          = "${params.output_dir}/multiqc" // Directory for MultiQC outputs

    // --- Logs ---
    log_dir                     = "${launchDir}/logs/${params.run_id}/" // Directory for logs (created if doesn't exist)
    preprocessing_log_dir       = "${params.log_dir}/preprocessing" // Directory for preprocessing logs
    qc_log_dir                  = "${params.log_dir}/qc" // Directory for QC logs (e.g., MultiQC)
    alignment_log_dir           = "${params.log_dir}/alignment" // Directory for alignment logs (e.g., Cell Ranger)
    multiqc_log_dir             = "${params.log_dir}/multiqc" // Directory for MultiQC logs
    run_traceability_log_dir    = "${params.log_dir}/traceability" // Directory for traceability logs (e.g., versions.yml files, trace, report, timeline, dag)

    // --- CPU/MEM resources ---
    cpu_limit                   = 16               // Number of CPUs allocated to Cell Ranger
    memory_limit                = 64               // RAM allocated in GB
    time_limit                  = 168              // Time limit in hours (7 days)

    // --- SLURM submission options ---
    slurm_partition             = "phoenix"        // SLURM partition name
    slurm_mail                  = "jordan.dutel@inserm.fr" // Mail address for SLURM notifications
    slurm_mail_type             = "END,FAIL"       // Notification events
    slurm_log_dir               = "${params.log_dir}" // Directory for SLURM stdout/stderr files

    // --- Traceability ---
    enable_conda                = false            // Conda disabled (use Docker/Singularity)
    today_date                  = new Date().format('yyyyMMdd') // Today date in format eg. 20240618 for year,month,day
    logging_script              = "${projectDir}/assets/logging.sh" // Shared shell logging helpers

    // --- Pipeline metadata ---
    pipeline_version            = '1.0.0'
    min_nextflow_version        = '23.10.0'
}

// ========================================================================================
// DEFAULT PROCESS CONFIGURATION
// ========================================================================================

process {

    // -----------------------------------------------------------------------
    // RESOURCE LABELS (used in modules)
    // -----------------------------------------------------------------------

    // Default resources (overridden by labels below)
    cpus   = params.cpu_limit
    memory = "${params.memory_limit}.GB"
    time   = "${params.time_limit}.h"

    // Resources based on process labels (defined in modules) :
    // Process tag as "process low"
    withLabel: 'process_low' {
        cpus   = params.cpu_limit / 4
        memory = "${params.memory_limit / 4}.GB"
        time   = "${params.time_limit / 4}.h"
    }

    // Process tag as "process medium"
    withLabel: 'process_medium' {
        cpus   = params.cpu_limit / 2
        memory = "${params.memory_limit / 2}.GB"
        time   = "${params.time_limit / 2}.h"
    }

    // Process tag as "process high"
    withLabel: 'process_high' {
        cpus   = params.cpu_limit
        memory = "${params.memory_limit}.GB"
        time   = "${params.time_limit}.h"
    }

    // -----------------------------------------------------------------------
    // CONTAINERS PER PROCESS (pinned versions)
    // -----------------------------------------------------------------------

    // Cell Ranger v7.2.0 (pinned version for reproducibility)
    //withName: 'CELLRANGER_MKFASTQ' {
    //    container = 'nfcore/cellranger:7.2.0'
    //}

    // MultiQC v1.21 (pinned version for reproducibility)
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.21--pyhdfd78af_0'
    }

    // ------------------------------------------------------------------------
    // Others process configuration (e.g., error strategy, retries)
    // ------------------------------------------------------------------------

    // Retry policy on failure
    //errorStrategy = { task.exitStatus in [130, 137, 139, 143] ? 'retry' : 'finish' }
    //maxRetries    = 2
    //maxErrors     = '-1'
}

// ========================================================================================
// EXECUTION PROFILES
// ========================================================================================

profiles {

    // -----------------------------------------------------------------------
    // SLURM PROFILE (HPC submission via SLURM)
    // Combine with singularity: -profile slurm,singularity
    // -----------------------------------------------------------------------
    slurm {
        conda {
            enabled = true // Enable conda to allow environment export in SLURM job scripts Cellranger_mkfastq & Cellranger_multi(even if not used for execution) for better traceability
        }

        process {
            
            // Define the resource manager
            executor       = 'slurm'

            // SLURM partition
            queue          = params.slurm_partition

            // SLURM resources limits (overridden by labels in modules)
            resourceLimits = [
                cpus : params.cpu_limit,
                memory : "${params.memory_limit}.GB",
                time : "${params.time_limit}.h"
            ]

            // Inject custom sbatch arguments (mail + logs)
            clusterOptions = {
                def opts = [] // Define a list to hold sbatch options
                if (params.slurm_mail) { // If an email is provided
                    opts << "--mail-user=${params.slurm_mail}" // Send mail to the specified address
                    opts << "--mail-type=${params.slurm_mail_type}" // When slurmjobs ends or fails
                }
                opts << "--job-name=${task.tag}" // Set the job name to the task tag
                // Define custom log file paths based on the process name
                if (task.process == 'PREPROCESSING') {
                    opts << "--error=${params.preprocessing_log_dir}/${params.today_date}_Slurm_job_%x_%j.err"
                    opts << "--output=${params.preprocessing_log_dir}/${params.today_date}_Slurm_job_%x_%j.out"
                } else if (task.process == 'CELLRANGER_MKFASTQ') {
                    opts << "--error=${params.qc_log_dir}/${params.today_date}_Slurm_job_%x_%j.err"
                    opts << "--output=${params.qc_log_dir}/${params.today_date}_Slurm_job_%x_%j.out"
                } else if (task.process == 'CELLRANGER_MULTI') {
                    opts << "--error=${params.alignment_log_dir}/${params.today_date}_Slurm_job_%x_%j.err"
                    opts << "--output=${params.alignment_log_dir}/${params.today_date}_Slurm_job_%x_%j.out"
                } else if (task.process == 'MULTIQC') {
                    opts << "--error=${params.multiqc_log_dir}/${params.today_date}_Slurm_job_%x_%j.err"
                    opts << "--output=${params.multiqc_log_dir}/${params.today_date}_Slurm_job_%x_%j.out"
                } else {
                    opts << "--error=${params.slurm_log_dir}/${params.today_date}_Slurm_job_%x_%j.err"
                    opts << "--output=${params.slurm_log_dir}/${params.today_date}_Slurm_job_%x_%j.out"
                }
                return opts.join(' ') // Return the options as a single string
            }
        }
    }
}

// ========================================================================================
// REPORTS AND TRACEABILITY
// ========================================================================================

// Controls the generation of the Execution timeline.
timeline {
    enabled   = true
    overwrite = true
    file      = "${params.run_traceability_log_dir}/${params.today_date}_pipeline_timeline.html"
}

// Controls the generation of the execution report (summary of processes, resources, etc.)
report {
    enabled   = true
    overwrite = true
    file      = "${params.run_traceability_log_dir}/${params.today_date}_pipeline_report.html"
}

// Controls the generation of the execution trace (detailed log of each task)
trace {
    enabled        = true
    overwrite      = true
    file           = "${params.run_traceability_log_dir}/${params.today_date}_pipeline_trace.txt"
    fields         = 'task_id,hash,native_id,process,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
}

// Controls the generation of the DAG (Directed Acyclic Graph) of the workflow execution
dag {
    enabled   = true
    overwrite = true
    file      = "${params.run_traceability_log_dir}/${params.today_date}_pipeline_dag.html"
}

// ========================================================================================
// GLOBAL NEXTFLOW ENGINE CONFIGURATION
// ========================================================================================

// Global configuration for the Nextflow engine
manifest {
    name            = 'CellRanger_Flow'
    author          = 'Jordan Dutel'
    description     = 'Pipeline Single-Cell 10x Genomics (BCL/FASTQ → Cell Ranger → MultiQC)'
    homePage        = 'https://github.com/jdutel42/cellranger-flow'
    mainScript      = 'main.nf'
    nextflowVersion = ">=23.10.0"
    version         = '1.0.0'
}